header {
    background-color : #240090;
    color: #ffffff;
    height: 80px;
    padding-left: 20px;
}

body {
    background-image: linear-gradient(to top, #ffffff, #c4bdff);
    background-repeat: no-repeat;
}

nav {
    height: 80px;
    background-color:#ffffff;
}

nav div a {
    font-size: 22px;
    margin-left: 10%;
    margin-right: 10%;
}

#wrapper {
    width: 75%;
    min-width: 600px;
    min-height: 1028px;
    background-color: #ffffff;
    padding-bottom: 75px;
}

footer {
    height: 200px;
}
